

<h1>New user</h1>
<form action="action_url">
  
  <label for="new_email" name="user[email]">Email
  <input type="text", id="new-email", name="user[email]">
  </label> 
  
  <label for="new_password" name="user[password]">Password
  <input type="text", id="new-password", name="user[password]">
  </label> 

  <input type="submit" value ="Create User">

</form>